<div class='create-notification-page'>
    <h3>Create Notification</h3>
    <!--     <h4>Type:</h4> -->

    <!--
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{ active: vm.isType('email') }"><a href="javascript:void(0);" ng-click="vm.setType('email')"><strong>EMAIL</strong></a></li>
  <li role="presentation" ng-class="{ active: vm.isType('sms') }"><a href="javascript:void(0);" ng-click="vm.setType('sms')"><strong>SMS</strong></a></li>
</ul>
-->

    <div class="row">
      <div class="col-lg-8 col-md-10">

	
	  <div class="panel panel-default">
	    <div class="panel-heading">{{vm.isType('email') ? 'Subject' : 'Message'}}</div>
	    <div class="panel-body">
	      <input type='text' ng-model="vm.subject" class="form-control" />
	    </div>
	  </div>

	  <div class="panel panel-default" ng-show="vm.isType('email')">
	    <div class="panel-heading">Message body</div>
	    <div class="panel-body">
	      <textarea cols="30" rows="10" ng-model="vm.message" class="form-control"></textarea>
	    </div>
	  </div>

	  <div class="panel panel-default" ng-show="vm.isType('email')">
	    <div class="panel-heading">Add Attachment</div>
	    <div class="panel-body">
	      <div class="input-group">
		<span class="input-group-btn">
		  <span class="btn btn-primary btn-file">
		    Browse… <input ng-file-select ng-model="vm.attachmentFile" ng-file-change="vm.fileSelected($files, $event)" type="file">
		  </span>
		</span>
		<input type="text" ng-model="vm.attachment" class="form-control" readonly="">
	      </div>
	    </div>
	  </div>

	  <button type="button" class="btn btn-dark btn-lg" ng-click="vm.send()">&nbsp;&nbsp;Send&nbsp;&nbsp;</button>
	</div>
    </div>
</div>
