$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    background: #ECECEC;
}

#page-wrapper {
    border-left: 1px solid #e4e4e4;
    background: #F8F8F8;

    h3 {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}

@media(min-width:768px) {
    #page-wrapper {
        margin-left: 0px;

        &.withMenu {
          margin-left: 250px;          
        }
    }
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'admin/notifications2/notifications2.scss';
@import 'main/docs/docs.scss';
@import 'main/main.scss';
@import 'recordings/recordings.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector